<main class="landing-page unclickable">
    <section>
        <img src="/assets/images/logo.png" alt="Logo" class="img-fluid">
    </section>

    {{#link-to 'rooms' class="ui primary big button"}}Rooms{{/link-to}}
</main>