<main class="landing">
    <section>
        <img src="/assets/images/logo.png" alt="Logo" class="img-fluid">
    </section>

    <a class="ui primary big  button" href="/rooms">Show Rooms</a>
</main>

